doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Fucsia
    <!-- Tell the browser to be responsive to screen width -->
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    <!-- Bootstrap 3.3.5 -->
    link(rel="stylesheet", href="../components/adminlte/bootstrap/css/bootstrap.min.css")
    <!-- Font Awesome -->
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    <!-- Ionicons -->
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <!-- Select2 -->
    link(rel="stylesheet", href="../components/adminlte/plugins/select2/select2.css")
    <!-- DataTables -->
    link(rel="stylesheet", href="../components/adminlte/plugins/datatables/dataTables.bootstrap.css")
    <!-- Theme style -->
    link(rel="stylesheet", href="../components/adminlte/dist/css/AdminLTE.min.css")
    
    link(rel="stylesheet", href="../components/adminlte/dist/css/skins/skin-blue.min.css")
    link(rel="stylesheet", href="../components/adminlte/dist/css/skins/skin-purple.min.css")

    //
      BODY TAG OPTIONS:
      =================
      Apply one or more of the following classes to get the
      desired effect
      |---------------------------------------------------------|
      | SKINS         | skin-blue                               |
      |               | skin-black                              |
      |               | skin-purple                             |
      |               | skin-yellow                             |
      |               | skin-red                                |
      |               | skin-green                              |
      |---------------------------------------------------------|
      |LAYOUT OPTIONS | fixed                                   |
      |               | layout-boxed                            |
      |               | layout-top-nav                          |
      |               | sidebar-collapse                        |
      |               | sidebar-mini                            |
      |---------------------------------------------------------|

  body.hold-transition.skin-purple.sidebar-mini(data-ng-app="fucsia.app")
    div.wrapper

      <!-- Main Header -->
      header.main-header

        <!-- Logo -->
        a.logo(href="index2.html")
          <!-- mini logo for sidebar mini 50x50 pixels -->
          span.logo-mini Fucsia
          <!-- logo for regular state and mobile devices -->
          span.logo-lg
            b Fucsia

        include partials/top-navigation-bar.jade
      <!-- Left side column. contains the logo and sidebar -->
      include partials/left-navigation-bar.jade

      <!-- Content Wrapper. Contains page content -->
      div.content-wrapper(data-ui-view="")
        <!-- Content Header (Page header) -->
        section.content-header
        <!-- Main content -->
        section.content

      include partials/sidebar.jade

    <!-- jQuery 2.1.4 -->
    script(src="../components/adminlte/plugins/jQuery/jQuery-2.1.4.min.js")
    <!-- Bootstrap 3.3.5 -->
    script(src="../components/adminlte/bootstrap/js/bootstrap.min.js")
    <!-- AdminLTE App -->
    script(src="../components/adminlte/dist/js/app.min.js")
    <!-- Select2 -->
    script(src="../components/adminlte/plugins/select2/select2.full.js")
    <!-- DataTables -->
    script(src="../components/adminlte/plugins/datatables/jquery.dataTables.min.js")
    script(src="../components/adminlte/plugins/datatables/dataTables.bootstrap.min.js")
    
    //
      Optionally, you can add Slimscroll and FastClick plugins.
      Both of these plugins are recommended to enhance the
      user experience. Slimscroll is required when using the
      fixed layout.
         
    <!-- Angular & dependencies -->
    script(src="../components/angular/angular.min.js")
    script(src="../components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="../components/angular-resource/angular-resource.js")
    script(src="../components/adminlte/plugins/datatables/dataTables.bootstrap.min.js")
    script(src="../components/angular-datatables/dist/angular-datatables.js")
    
    <!-- Angular App & config -->
    script(src="../javascripts/app.js")
    script(src="../javascripts/routes.js")
    
    <!-- Controllers -->
    script(src="../javascripts/controllers/productos.controller.js")
    <!-- Services -->
    script(src="../javascripts/services/api.service.js")