div.box.box-info
  div.box-header.with-border
    h3.box-title Nuevo
  form.form-horizontal
    div.box-body
      div.form-group
        label.col-sm-2.control-label(for="inputCodigo") Codigo
        div.col-sm-10
          input#inputCodigo.form-control(data-ng-model="vm.nuevo.codigo", type="text")
      div.form-group
        label.col-sm-2.control-label(for="inputNombre") Nombre
        div.col-sm-10
          input#inputNombre.form-control(data-ng-model="vm.nuevo.nombre", type="text")
      div.form-group
        label.col-sm-2.control-label(for="selectCategorias") Categorias
        div.col-sm-10
          select#selectCategorias.form-control.select2(data-ng-model="vm.nuevo.categorias", multiple="multiple")
    div.box-footer
      div.pull-right
        button.btn.btn-default(type="submit") Cancelar
        button.btn.btn-info(data-ng-click="vm.guardar()", type="submit") Aceptar

script.
  $(function () {
    $(".select2").select2({
      tags: true
    });
  });