aside.main-sidebar

  <!-- sidebar: style can be found in sidebar.less -->
  section.sidebar

    <!-- Sidebar user panel (optional) -->
    div.user-panel
      div.pull-left.image
        img.img-circle(src="../components/adminlte/dist/img/user2-160x160.jpg", alt="User Image")
      div.pull-left.info
        p Alexander Pierce
        <!-- Status -->
        a(href="#")
          i.fa.fa-circle.text-success
          span Online

    <!-- search form (Optional) -->
    // form.sidebar-form(action="#", method="get")
    //   div.input-group
    //     // input.form-control(type="text", name="q", placeholder="Buscar...")
    //     span.input-group-btn
    //       button#search-btn.btn.btn-flat(type="submit", name="search")
    //         i.fa.fa-search
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    ul.sidebar-menu
      li.header MENU
      <!-- Optionally, you can add icons to the links -->
      li.treeview
        a(href="#")
          i.fa.fa-link
          span Productos
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(ui-sref="productos.listado") Listado
          li
            a(ui-sref="productos.nuevo") Nuevo
      li.active
        a(href="#")
          i.fa.fa-link
          span Link
      li
        a(href="#")
          i.fa.fa-link
          span Another Link