<!-- Control Sidebar -->
aside.control-sidebar.control-sidebar-dark
  <!-- Create the tabs -->
  ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    li.active
      a(href="#control-sidebar-home-tab", data-toggle="tab")
        i.fa.fa-home
    li
      a(href="#control-sidebar-settings-tab", data-toggle="tab")
        i.fa.fa-gears

  <!-- Tab panes -->
  div.tab-content
    <!-- Home tab content -->
    div#control-sidebar-home-tab.tab-pane.active
      h3.control-sidebar-heading Recent Activity
      ul.control-sidebar-menu
        li
          a(href="javascript::;")
            i.menu-icon.fa.fa-birthday-cake.bg-red
            div.menu-info
              h4.control-sidebar-subheading Langdon's Birthday
              p Will be 23 on April 24th

      h3.control-sidebar-heading Tasks Progress
      ul.control-sidebar-menu
        li
          a(href="javascript::;")
            h4.control-sidebar-subheading
              span Custom Template Design
              span.label.label-danger.pull-right 70%
            div.progress.progress-xxs
              div.progress-bar.progress-bar-danger(style="width: 70%")

    <!-- Stats tab content -->
    div#control-sidebar-stats-tab.tab-pane Stats Tab Content
    <!-- Settings tab content -->
    div#control-sidebar-settings-tab.tab-pane
      form(method="post")
        h3.control-sidebar-heading General Settings
        div.form-group
          label.control-sidebar-subheading Report panel usage
            input.pull-right(type="checkbox", checked)
          p Some information about this general settings option
//
  Add the sidebar's background. This div must be placed
  immediately after the control sidebar
div.control-sidebar-bg