<!-- Header Navbar -->
nav.navbar.navbar-static-top(role="navigation")
  <!-- Sidebar toggle button-->
  a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
    span.sr-only Toggle navigation
  <!-- Navbar Right Menu -->
  div.navbar-custom-menu
    ul.nav.navbar-nav
      <!-- Messages: style can be found in dropdown.less-->
      li.dropdown.messages-menu
        <!-- Menu toggle button -->
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.fa.fa-envelope-o
          span.label.label-success 4
        ul.dropdown-menu
          li.header You have 4 messages
            <!-- inner menu: contains the messages -->
          li
            ul.menu
              <!-- start message -->
              li
                a(href="#")
                  div.pull-left
                    <!-- User Image -->
                    img.img-circle(src="../components/adminlte/dist/img/user2-160x160.jpg", alt="User Image")
                  <!-- Message title and timestamp -->
                  h4 Support Team
                    small
                      i.fa.fa-clock-o
                      span 5 mins
                  p Why not buy a new awesome theme?
          li.footer
            a(href="#") See All Messages

      <!-- Notifications Menu -->
      li.dropdown.notifications-menu
        <!-- Menu toggle button -->
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.fa.fa-bell-o
          span.label.label-warning 10
        ul.dropdown-menu
          li.header You have 10 notifications
          li
            <!-- Inner Menu: contains the notifications -->
            ul.menu
              <!-- start notification -->
              li
                a(href="#")
                  i.fa.fa-users.text-aqua
                  span 5 new members joined today
          li.footer
            a(href="#") View all
      <!-- Tasks Menu -->
      li.dropdown.tasks-menu
        <!-- Menu Toggle Button -->
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.fa.fa-flag-o
          span.label.label-danger 9
        ul.dropdown-menu
          li.header You have 9 tasks
          li
            <!-- Inner menu: contains the tasks -->
            ul.menu
              <!-- Task item -->
              li
                a(href="#")
                  <!-- Task title and progress text -->
                  h3
                    span Design some buttons
                    small.pull-right 20%
                  <!-- The progress bar -->
                  div.progress.xs
                    <!-- Change the css width attribute to simulate progress -->
                    div.progress-bar.progress-bar-aqua(style="width: 20%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                      span.sr-only 20%
          li.footer
            a(href="#") View all tasks
      <!-- User Account Menu -->
      li.dropdown.user.user-menu
        <!-- Menu Toggle Button -->
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          <!-- The user image in the navbar-->
          img.user-image(src="../components/adminlte/dist/img/user2-160x160.jpg", alt="User Image")
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          span.hidden-xs Alexander Pierce
        ul.dropdown-menu
          <!-- The user image in the menu -->
          li.user-header
            img.img-circle(src="../components/adminlte/dist/img/user2-160x160.jpg", alt="User Image")
            p
              span Alexander Pierce - Web Developer
              small Member since Nov. 2012
          <!-- Menu Body -->
          li.user-body
            div.col-xs-4.text-center
              a(href="#")
            div.col-xs-4.text-center
              a(href="#") Sales
            div.col-xs-4.text-center
              a(href="#") Friends
          <!-- Menu Footer-->
          li.user-footer
            div.pull-left
              a.btn.btn-default.btn-flat(href="#") Profile
            div.pull-right
              a.btn.btn-default.btn-flat(href="#") Sign out
      <!-- Control Sidebar Toggle Button -->
      li
        a(href="#", data-toggle="control-sidebar")
          i.fa.fa-gears